  *{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #D7D3C7;
  }
  h1{
    margin: 1vh 0vh;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .cont{
    display: flex;
    flex-direction: row;
    float: left;
    margin: 2vh;
    width: 100%;
  }